@tailwind base
@tailwind components
@tailwind utilities


*
    box-sizing: border-box
    font-synthesis: none

:root
    @apply bg-orange-975 text-white

@layer base
    h1
        @apply text-4xl md:text-5xl
    h2
        @apply text-3xl
    h3
        @apply text-2xl
    h4
        @apply text-xl
    h5
        @apply text-lg
    h1,h2,h3,h4,h5,h6
        @apply capitalize font-striking
    input[type="text"],input[type="email"],textarea,input[type="number"]
        @apply p-2 rounded-md border-2 border-transparent bg-orange-700 placeholder:text-orange-300 outline-none

        &:hover
            @apply border-orange-400
        
        &:focus
            @apply border-orange-300
    
@layer components
    .line-icon
        @apply stroke-slate-300 hover:stroke-white active:stroke-slate-400 fill-none stroke-2 cursor-pointer select-none
    .text-glow
        text-shadow: 0px 0px 5px var(--tw-shadow-color)
    .background-dark-double-shade
        background: rgb(0,0,0)
        background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 100%)